<div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >Douglas McGee</span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="img/undraw_profile.svg"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">E-books</h1>
            </div>

            <!-- Page Content -->
            <div class="container-fluid pl-0 pr-0">
              <!-- Button create new E-book -->
              <a href="/ebooks/add-ebook" class="btn btn-primary btn-md mb-3">
                Add new E-book
              </a>

              <!-- List of E-book -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">
                    List of E-books
                  </h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      class="table table-bordered"
                      id="dataTable"
                      width="100%"
                      cellspacing="0"
                    >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Image</th>
                          <th>Author Name</th>
                          <th>Description</th>
                          <th>Number of page</th>
                          <th>Release Date</th>
                          <th>Price</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each ebooksItems as |ebook| }}
                          <tr>
                          <td>{{ebook.name}}</td>
                          <td>
                            <img
                              src="{{ebook.image}}"
                              class="img-thumbnail"
                              style="width: 80px; height: 80px"
                              alt="..."
                            />
                          </td>
                          <td>{{ebook.author}}</td>
                          <td>
                            {{ebook.desc}}
                          </td>
                          <td>{{ebook.numofpage}}</td>
                          <td>{{ebook.releasedate}}</td>
                          <td>${{ebook.price}}</td>
                          <td>
                            <a href="/ebooks/add-ebook/{{ebook._id}}" class="btn btn-info"> Edit </a>
                            <a href="/ebooks/{{ebook._id}}/delete" class="btn btn-danger tm-category-delete-link" data-ebook-id = "{{ebook._id}}"> Delete </a>
                          </td>
                        </tr>
                        {{/each}}                 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>